# python pandas tutorial-9

# pandas handling missing values in python-3

In [2]:
import pandas as pd

In [2]:
df=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-quarter-corrections-to-previously-published-statistics.csv')
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,1492
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1462,1465
6,FPIQ.SEB39,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,1160
10,FPIQ.SEC31,2019.09,"Farm expenses price index, Dairy farms, Livest...",992,1074
11,FPIQ.SEC31,2019.12,"Farm expenses price index, Dairy farms, Livest...",1009,1091
12,FPIQ.SEC31,2020.03,"Farm expenses price index, Dairy farms, Livest...",984,1065
13,FPIQ.SEC39,2019.09,"Farm expenses price index, Dairy farms, Subtot...",1072,1079

In [3]:
df=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-missing value file.csv')
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [3]:
df11=pd.read_csv('E:\csv files\SampleCSVfile.csv')
df11

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [5]:
df11.dropna(1)#axis 1= column drop

,1,"Eldon Base for stackable storage shelf, platinum",3,38.94,35,Storage & Organization
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,208.16,68.02,Appliances
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",293,8.69,2.99,Binders and Binder Accessories
2,4,R380,483,195.99,3.99,Telephones and Communication
3,5,Holmes HEPA Air Purifier,515,21.78,5.94,Appliances
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,515,6.64,4.95,Office Furnishings
5,7,"Angle-D Binders with Locking Rings, Label Holders",613,7.30,7.72,Binders and Binder Accessories
6,8,"SAFCO Mobile Desk Side File, Wire Frame",613,42.76,6.22,Storage & Organization
7,9,"SAFCO Commercial Wire Shelving, Black",643,138.14,35.00,Storage & Organization
8,10,Xerox 198,678,4.98,8.33,Paper

In [7]:
df11.dropna()

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [4]:
df.dropna()

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0

In [5]:
df.dropna(1)

    Period                                        Description
0  2019.09  Farm expenses price index, Horticulture and fr...
1  2019.12  Farm expenses price index, Horticulture and fr...
2  2020.03  Farm expenses price index, Horticulture and fr...
3  2019.09  Farm expenses price index, Sheep, beef, and gr...
4  2019.12  Farm expenses price index, Sheep, beef, and gr...
5  2020.03  Farm expenses price index, Sheep, beef, and gr...
6  2019.09  Farm expenses price index, Sheep, beef, and gr...
7  2019.12  Farm expenses price index, Sheep, beef, and gr...
8  2020.03  Farm expenses price index, Sheep, beef, and gr...
9  2019.12  Farm expenses price index, Sheep, beef, and gr...

In [6]:
df.dropna(0)

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0

In [8]:
df11=pd.read_csv('E:\csv files\SampleCSVfile.csv')
df11

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [10]:
df11.dropna(how='all')

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [12]:
df11.dropna(how='any')

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [15]:
df11.dropna(axis=1,how='any')

,1,"Eldon Base for stackable storage shelf, platinum",3,38.94,35,Storage & Organization
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",293,208.16,68.02,Appliances
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",293,8.69,2.99,Binders and Binder Accessories
2,4,R380,483,195.99,3.99,Telephones and Communication
3,5,Holmes HEPA Air Purifier,515,21.78,5.94,Appliances
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,515,6.64,4.95,Office Furnishings
5,7,"Angle-D Binders with Locking Rings, Label Holders",613,7.30,7.72,Binders and Binder Accessories
6,8,"SAFCO Mobile Desk Side File, Wire Frame",613,42.76,6.22,Storage & Organization
7,9,"SAFCO Commercial Wire Shelving, Black",643,138.14,35.00,Storage & Organization
8,10,Xerox 198,678,4.98,8.33,Paper

In [7]:
df.dropna(how='any')

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0

In [8]:
df.dropna(axis=1,how='any')

    Period                                        Description
0  2019.09  Farm expenses price index, Horticulture and fr...
1  2019.12  Farm expenses price index, Horticulture and fr...
2  2020.03  Farm expenses price index, Horticulture and fr...
3  2019.09  Farm expenses price index, Sheep, beef, and gr...
4  2019.12  Farm expenses price index, Sheep, beef, and gr...
5  2020.03  Farm expenses price index, Sheep, beef, and gr...
6  2019.09  Farm expenses price index, Sheep, beef, and gr...
7  2019.12  Farm expenses price index, Sheep, beef, and gr...
8  2020.03  Farm expenses price index, Sheep, beef, and gr...
9  2019.12  Farm expenses price index, Sheep, beef, and gr...

In [9]:
df.dropna(axis=0,how='all')

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [10]:
df.dropna(axis=0,how='all')

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [11]:
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [12]:
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [13]:
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [14]:
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [15]:
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [16]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-missing value file.csv')
df1

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [17]:
df1.dropna(axis=0,how='all')

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [18]:
df.dropna(thresh=1)

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [37]:
df11=pd.read_csv('E:\csv files\SampleCSVfile.csv')
df11
df11.dropna(thresh=10)

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [21]:
df11

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [19]:
df.dropna(thresh=2)

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [20]:
df.dropna(thresh=3)

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [21]:
df.dropna(thresh=5)

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0

In [22]:
df1=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-missing value file.csv')
df1

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [23]:
#subset parameter

In [24]:
df.dropna(subset=['Revised'])

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [25]:
df.dropna(subset=['Series reference'])

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489.0,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159.0,NaN

In [26]:
df1.dropna(inplace=True)

In [28]:
df1.dropna(inplace=True)
df1

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1188.0

In [38]:
df11.dropna()

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [39]:
df11

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [40]:
df11.dropna(subset=['0.8'])

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,NaN,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,NaN,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [42]:
df11.dropna(subset=['Muhammed MacIntyre'])

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,NaN,7.30,7.72,NaN,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,NaN,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [44]:
df11.dropna(inplace=True)

In [45]:
df11

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D� Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38