# Python pandas Tutorial- 14

# pandas loc[]  ,iloc[]  Functions

In [2]:
import pandas as pd

In [2]:
df=pd.read_csv('G:\\csv\\business-price-indexes-june-2020-missing value file.csv')
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",4500,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,NaN

In [5]:
df1=pd.read_csv('E:\csv files\ppppppppppppppppp.csv')
df1.fillna(method='ffill')

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,9/1/2019,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,10/2/2020,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,11/3/2020,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,12/4/2020,"Farm expenses price index, Sheep, beef, and gr...",1489.0,1492.0
4,FPIQ.SEB31,13/5/2020,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1510.0
5,FPIQ.SEB31,14/6/2020,"Farm expenses price index, Sheep, beef, and gr...",1507.0,1465.0
6,FPIQ.SEB39,15/7/2020,"Farm expenses price index, Sheep, beef, and gr...",1193.0,1194.0
7,FPIQ.SEB39,12/8/2020,"Farm expenses price index, Sheep, beef, and gr...",1199.0,1200.0
8,FPIQ.SEB39,12/9/2020,"Farm expenses price index, Sheep, beef, and gr...",1187.0,1200.0

In [6]:
df1.loc[0]

Series reference                                              FPIQ.SEA31
Period                                                          9/1/2019
Description            Farm expenses price index, Horticulture and fr...
Revised                                                           1434.0
Initially published                                               1453.0
Name: 0, dtype: object

In [8]:
df1.loc[[1,5]]

,Series reference,Period,Description,Revised,Initially published
1,FPIQ.SEA31,10/2/2020,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
5,NaN,14/6/2020,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0

In [3]:
df.loc[0]

Series reference                                              FPIQ.SEA31
Period                                                           2019.09
Description            Farm expenses price index, Horticulture and fr...
Revised                                                             1434
Initially published                                                 1453
Name: 0, dtype: object

In [4]:
df.loc[5]

Series reference                                              FPIQ.SEB31
Period                                                           2020.03
Description            Farm expenses price index, Sheep, beef, and gr...
Revised                                                             4500
Initially published                                                 1465
Name: 5, dtype: object

In [5]:
df.loc[[0,1]]

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472.0

In [6]:
df.loc[[4,5]]

,Series reference,Period,Description,Revised,Initially published
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",4500,1465.0

In [7]:
df.loc[5,'Period']

2020.03

In [10]:
df1.loc[6,'Description']

'Farm expenses price index, Sheep, beef, and grain farms, Subtotal including livestock'

In [11]:
df1.loc[0:5,'Series reference']

0    FPIQ.SEA31
1    FPIQ.SEA31
2    FPIQ.SEA31
3    FPIQ.SEB31
4    FPIQ.SEB31
5           NaN
Name: Series reference, dtype: object

In [8]:
df.loc[0:4,'Period']

0    2019.09
1    2019.12
2    2020.03
3    2019.09
4    2019.12
Name: Period, dtype: float64

In [9]:
df.loc[0:8,'Revised']

0    1434
1    1453
2    1412
3    1489
4    1507
5    4500
6    1193
7    1199
8    1187
Name: Revised, dtype: int64

In [16]:
df1.loc[df1['Initially published']>1250,['Revised']]

   Revised
0   1434.0
1   1453.0
2   1412.0
3   1489.0
4   1507.0
5      NaN

In [10]:
df.loc[df['Revised']<1200]

,Series reference,Period,Description,Revised,Initially published
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,NaN

In [11]:
df.loc[df['Revised']<1200,['Initially published']]

   Initially published
6               1194.0
7               1200.0
8               1188.0
9                  NaN

In [14]:
#iloc[]
df

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472.0
2,FPIQ.SEA31,2020.03,"Farm expenses price index, Horticulture and fr...",1412,1431.0
3,FPIQ.SEB31,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1489,NaN
4,FPIQ.SEB31,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1507,1510.0
5,FPIQ.SEB31,2020.03,"Farm expenses price index, Sheep, beef, and gr...",4500,1465.0
6,NaN,2019.09,"Farm expenses price index, Sheep, beef, and gr...",1193,1194.0
7,FPIQ.SEB39,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1199,1200.0
8,FPIQ.SEB39,2020.03,"Farm expenses price index, Sheep, beef, and gr...",1187,1188.0
9,FPIQ.SEB99,2019.12,"Farm expenses price index, Sheep, beef, and gr...",1159,NaN

In [13]:
df.iloc[0]

Series reference                                              FPIQ.SEA31
Period                                                           2019.09
Description            Farm expenses price index, Horticulture and fr...
Revised                                                             1434
Initially published                                                 1453
Name: 0, dtype: object

In [18]:
df1.iloc[1]

Series reference                                              FPIQ.SEA31
Period                                                         10/2/2020
Description            Farm expenses price index, Horticulture and fr...
Revised                                                           1453.0
Initially published                                               1472.0
Name: 1, dtype: object

In [15]:
df.iloc[[0]]

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453.0

In [20]:
df1.iloc[[0,5]]

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,9/1/2019,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
5,NaN,14/6/2020,"Farm expenses price index, Sheep, beef, and gr...",NaN,1465.0

In [21]:
df1.iloc[0:,3]

0    1434.0
1    1453.0
2    1412.0
3    1489.0
4    1507.0
5       NaN
6    1193.0
7    1199.0
8    1187.0
Name: Revised, dtype: float64

In [19]:
df.iloc[0:,1]

0    2019.09
1    2019.12
2    2020.03
3    2019.09
4    2019.12
5    2020.03
6    2019.09
7    2019.12
8    2020.03
9    2019.12
Name: Period, dtype: float64

In [20]:
df.iloc[[0,1]]

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,2019.09,"Farm expenses price index, Horticulture and fr...",1434,1453.0
1,FPIQ.SEA31,2019.12,"Farm expenses price index, Horticulture and fr...",1453,1472.0

In [23]:
df1.loc[df1['Revised']>1200]

,Series reference,Period,Description,Revised,Initially published
0,FPIQ.SEA31,9/1/2019,"Farm expenses price index, Horticulture and fr...",1434.0,1453.0
1,FPIQ.SEA31,10/2/2020,"Farm expenses price index, Horticulture and fr...",1453.0,1472.0
2,FPIQ.SEA31,11/3/2020,"Farm expenses price index, Horticulture and fr...",1412.0,1431.0
3,FPIQ.SEB31,12/4/2020,"Farm expenses price index, Sheep, beef, and gr...",1489.0,1492.0
4,FPIQ.SEB31,13/5/2020,NaN,1507.0,1510.0

In [ ]:
df.iloc[[t,1]]