In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['r1','r2','r3','r4','r5'],columns=['column1','column2','column3','column4'])
df

    column1  column2  column3  column4
r1        0        1        2        3
r2        4        5        6        7
r3        8        9       10       11
r4       12       13       14       15
r5       16       17       18       19

In [6]:
df.head()

    column1  column2  column3  column4
r1        0        1        2        3
r2        4        5        6        7
r3        8        9       10       11
r4       12       13       14       15
r5       16       17       18       19