In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.0.5'

In [3]:
l1=[5,4,-4,55.5,'data values']
print(l1)

[5, 4, -4, 55.5, 'data values']

In [4]:
#seris create function from list

In [5]:
s1=pd.Series(l1)
print(s1)

0              5
1              4
2             -4
3           55.5
4    data values
dtype: object

In [6]:
type(s1)

pandas.core.series.Series

In [7]:
s2=pd.Series([1,5,4,7,8,4,6])
print(s2)

0    1
1    5
2    4
3    7
4    8
5    4
6    6
dtype: int64

In [8]:
emp1=pd.Series([])
print(emp1)

Series([], dtype: float64)

<ipython-input-8-c444ea64ed52>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  emp1=pd.Series([])

In [9]:
s3=pd.Series([1,5,8,487,54])
print(s3)

0      1
1      5
2      8
3    487
4     54
dtype: int64

In [10]:
s3=pd.Series([1,5,8,487,54],index=['a','b','c','d','e'])
print(s3)

a      1
b      5
c      8
d    487
e     54
dtype: int64

In [11]:
s3=pd.Series([1,5,8,487,54],index=['a','b','c','d','e'],dtype=float)
print(s3)

a      1.0
b      5.0
c      8.0
d    487.0
e     54.0
dtype: float64

In [12]:
#data value name function
s4=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name='data values')
print(s4)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [13]:
#Scalar value=single value se series create karna
scalers=pd.Series(0.5)
print(scalers)

0    0.5
dtype: float64

In [14]:
#Scalar value=single value se 1se jyada data value ki series create karna
scalers=pd.Series(0.5,index=[1,2,3,4,5])
print(scalers)

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

In [15]:
#discniry se series create karna
dictS=pd.Series({'a':3,'b':1,'c':2},name='data value')
print(dictS)

a    3
b    1
c    2
Name: data value, dtype: int64

In [16]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
s5[0]

1

In [18]:
s5[2]

3

In [19]:
s5[0:3]

0    1
1    2
2    3
dtype: int64

In [20]:
s5[0]

1

In [21]:
s5[0]

1

In [22]:
max(s5)

5

In [23]:
min(s5)

1

In [25]:
s5[s5>2]

2    3
3    4
4    5
dtype: int64

s5

In [26]:
s5

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [27]:
s6=pd.Series([1,2,3,4,5])
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s5+s6

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [30]:
s7=pd.Series([544,7,7])
print(s7)

0    544
1      7
2      7
dtype: int64

######